<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark container" style="background-color: rgba(77,77,77,0.0);">
        <a class="navbar-brand" href="/"><img src="images/Logo-02.png" width="100px" height="auto" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        商城
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<a class="dropdown-item" href="#">預留欄位</a>-->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        交流專區
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">寵物專欄</a>
                        <a class="dropdown-item" href="#">寵物失蹤協尋</a>
                        <a class="dropdown-item" href="#">二手市集</a>
                        <a class="dropdown-item" href="#">活動建立</a>
                        <a class="dropdown-item" href="#">寵物交友</a>
                        <a class="dropdown-item" href="#">留言板</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        友善專區
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">景點</a>
                        <a class="dropdown-item" href="#">餐廳</a>
                        <a class="dropdown-item" href="#">寵物美容</a>
                        <a class="dropdown-item" href="#">旅館</a>
                        <a class="dropdown-item" href="#">寵物寄放</a>
                        <a class="dropdown-item" href="#">租屋</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        健康管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">寵物熱量計算</a>
                        <a class="dropdown-item" href="#">寵物健康管理</a>
                        <a class="dropdown-item" href="#">寵物疫苗資訊</a>
                        <a class="dropdown-item" href="#">寵物食譜</a>
                    </div>
                </li>
            </ul>
            <form class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href=login><p1>會員中心</p1><p2><img src="images/member.svg" width="34px" height="auto" alt=""/></p2></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><p1>購物車</p1><p2><img src="images/cart.svg" width="34px" height="auto" alt=""/></p2></a>
                </li>
            </form>
        </div>
    </nav>
</header>
<main>
    <br>
    <br>
    <br>
    <!--留言區域-->
    <div id="comment-container"class="ui teal segment">
        <div th:fragment="commentList">
            <div class="ui threaded comments" style="max-width: 100%;">
                <h3 class="ui dividing header">留言板</h3>
                <div class="comment" >
                    <a class="avatar">
                        <img src="images/avatar.png" >
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                        <div class="actions">
                            <a class="reply" data-commentid="1" data-commentnickname="Matt" >回覆</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="images/avatar.png">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>
                        <div class="actions">
                            <a class="reply">回覆</a>
                        </div>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="images/avatar.png">
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Elliot you are always so right :)
                                </div>
                                <div class="actions">
                                    <a class="reply">回覆</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="images/avatar.png">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">
                            Dude, this is awesome. Thanks so much
                        </div>
                        <div class="actions">
                            <a class="reply">回覆</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="comment-form" class="ui form">
        <div class="field">
            <textarea name="content" placeholder="輸入留言"></textarea>
        </div>
        <div class="field" >
            <div class="field m-mobile-wide m-margin-bottom-small">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="nickname" placeholder="姓名">
                </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="email" placeholder="信箱">
                </div>
            </div>
            <button id="commentpost-btn" type="button" class="ui teal button"><i class="edit icon"></i>傳送</button>
        </div>
    </div>

</main>

<footer class="fixed-bottom">
    <h4>© 2020 FurKids 著作權所有</h4>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

<script src="../static/lib/prism/prism.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>






</body>
</html>
